.services{
    padding: 6.5rem 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 5rem;
    margin-top: 9rem;
}
.s-text{
    display: flex;
    flex-direction: column;
    position: relative;
}
.s-text> :nth-child(1){
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 1rem; */
}
.s-text> :nth-child(2){
    font-size: 2.5rem;
    color: var(--mainColor);
    font-weight: bold;
    margin-bottom: 1rem;
}
.s-text> :nth-child(3){
    font-size: 2.5rem;
    color: var(--gray);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 1rem;
}
.s-button{
    width: 9.1rem;
    margin-top: 1rem;
    height: 2.2rem;
}


.s-blur1{
    top: 13rem;
    left: -12rem;
}
.s-blur2{
    top: 14rem;
    left: 19rem;
}
.check{
    font-size: 15px;
}








/* making responsive */
@media screen and (max-width: 480px){
    .services{
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: 73rem;
        padding: 0;
    }
  
    .s-text> :nth-child(1){
        font-size: 2rem;
       
    }
    .s-text> :nth-child(2){
        font-size: 1.9rem;
       
    }

    .s-button{
        width: 9.1rem;
        margin-top: 1rem;
        height: 2.2rem;
    }
    




 }