.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 82vh;
    margin-bottom: 6rem;
}
/* Heading */
.portfolio span:nth-child(1){
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}
.portfolio span:nth-child(1)> span{
    color: var(--mainColor);
    
}
.portfolio span:nth-child(2){
    color: var(--gray);
    font-weight: 400;
    font-size: 20px;
    margin: 1rem 0;
}
/* Slider */
.portfolio .swiper{
    overflow: visible!important;
    
}
.portfolio-slider{
    width: 100%;
}
.portfolio-slider .swiper-slide{
    width: 20rem;
}

/* swiper - - - - */
 
.portfolio img{
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
}
.portfolio h3{
    font-weight: bold;
    text-align: center;
}
.p-description{
    color: var(--gray);
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    /* background-color: aqua; */
     text-align: center;

 }
 

 /* makin responsive */

 @media screen and (max-width: 480px){
    .portfolio{
        height: 100vh;
        margin-bottom: 6rem;
    }
    .portfolio img{
        width: 19rem;
        filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.103));
        border-radius: 4px;
    }
    .swiper-container {
        width: 360px;
      }
      .portfolio img{
        width:16rem;
    }
    .p-description{
        width: 87%;
         
    }
    .portfolio{
     }
    
 }

 
