.card{
    width: 13rem;
    height: 20rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    text-align: left;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--colorCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 27px 1rem 27px;
}
.card > :nth-child(2){
    font-weight: 500;
  
}
.cardText {
    font-size: 15px;
    width: 230px;
}

.c-button{
    background: #ffffff;
    box-shadow: 0px 19px 60px rgba(0,0,0,0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #5290fd;
    font-weight: 500;
}
.card_icon{
    width: 4rem !important;
    height: 4rem !important;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid var(--colorCard);
    box-shadow: var(--boxShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.card_icon *{
    color: rgb(135, 2, 95);
    font-size: 40px;
}
.card_icons{
    
    /* background-color: aqua; */
    display:grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 15px 10px 10px 15; 
    column-gap: 10px;
    row-gap: 15px;
}
.card_icons *{
    color: rgb(189, 2, 133);
    font-size: 25px;
}
.cards{
    position: relative;
}
.cards > *{
    position: absolute;
}

@media screen and (max-width: 480px){

  

    .cards{
        display: flex;
        flex-direction: column;
        gap: 22rem;
       
    }
    .cards>*{
        position: static;
    }
    .card{
       width: 80%;
       height: auto;    
    }
    .cardText {
        font-size: 15px;
        width: 270px;
    }


}