.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left{
    display: flex;
    /* background-color: aqua; */
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name >:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    color: var(--black);
 }
.i-name >:nth-child(2){
    font-size: 3rem;
    color: var(--mainColor);
    margin-bottom: 1rem;
    font-weight: bold;
}
.i-name >:nth-child(3){
    font-size: 20px;
    color: var(--gray);
     font-weight: 400;
     width: 80%;

}
.i-button{
    width: 6rem;
    height: 2rem;
}

.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
 }

.i-icons >*{
    transform: scale(0.5);
}
.i-icons >*:hover{
  cursor: pointer;
  transform: scale(0.6);
  
}

 /* right side  */
.i-right{
    flex: 1;
    position: relative;
}
.i-right >*{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1){
    
    left: 20rem;
    top: 3rem;
 }
.i-right>:nth-child(2){
   
    left: -1rem;
    top: 3rem;
}


.i-right>:nth-child(3){
    transform: scale(0.45);
    top: -40%;
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}




/* making responsive */
@media screen and (max-width: 480px){
    .intro{
        flex-direction: column;
    }
    .i-right{
        transform: scale(0.8);
        left: -3rem;
    }




    .i-name >:nth-child(1),.i-name >:nth-child(2){
        font-size: 2rem;
     }
     .i-name >:nth-child(3){
        font-size: 18px;

     }
    
    
    .i-icons{
        margin-top: 0.2rem;
        transform: scale(0.9);
        display: flex;
        gap: 0rem;
    }
    
    .i-icons >*{
        transform: scale(0.5);
    }

}