.footer{
    display: flex;
    align-content: center;
    margin: -7rem -3.5rem;
    position: relative;
    margin-top: -7rem;
}
.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 19rem;
    color: white;
    gap: 2rem;
}
.f-icons{
    display: flex;
    gap: 1rem;
}
/* making responsive */
@media screen and (max-width: 480px){
    .footer{
        height: 17rem;
        gap: 7rem;
    }
   .f-content{
        margin-top: 7rem;
        gap: 0rem;
    }
    .f-content span{
        font-size: 14px;
    }
     
    .f-icons{
         transform: scale(0.9);
        display: flex;
        gap: 0rem;
     }
    .f-icons >*{
        transform: scale(0.5);
    }
}
