.footer{
    background-color: var(--mainColor);
     height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    transform: scale(1.1);
    margin-bottom: -7px;
     
}
.footer .f-content span{
    font-size: 0.8rem;
}
 
 
/* making responsive */
@media screen and (max-width: 480px){
    .footer{
         
        height: 80px;
        width: 100%;
        transform: scale(1.2);
    }
    .footer .f-content span{
        font-size: 0.5rem;
    }

}
