.toggle{
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--secendColor);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}
.toggle > *{
    width: 0.9rem;
    height: 0.9rem;
    color: var(--secendColor);
}
.t-button{
    border-radius: 100%;
    background: var(--secendColor);
    position: absolute;
}

@media screen and (max-width: 480px){
    .toggle{
        transform: scale(0.7);
    }
}