:root
{
    --yellow: #F5C32C;
    --mainColor : #2fadfb;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --colorCard: rgba(31, 226, 252, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button{
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #0fcdfd 26.71%, #2fa6fb 99.36% );
  box-shadow: 0px 20px 24px 3px rgba(40, 240, 251, 0.32); 
}
.button:hover{
  background: white;
  cursor: pointer;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}
.card span:nth-child(3){
  color: var(--gray);
  font-size: 20px;
}
.card > img{
  transform: scale(0.6);
  margin-bottom: -2rem;
}




@media screen and (max-width: 480px) {
 .App{
   padding: 0.5rem 1rem;
 }
 .blur{
   display: none;
 }
}
 
  